<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mystore_login.mapper.UserMapper">
    <resultMap id="UserEntityMap" type="com.example.mystore_login.entity.User">
        <id column="uid" property="uid"/>
    </resultMap>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO
            t_user(username,password,salt,is_delete)
        VALUES
            (#{username},#{password},#{salt},#{isDelete})
    </insert>

    <update id="updateAvatarByUid">
        UPDATE
            t_user
        SET
            avatar = #{avatar},
            modified_user = #{modifiedUser},
            modified_time = #{modifiedTime}
        WHERE
            uid = #{uid}
    </update>
    <update id="updatePasswordByUid">
        UPDATE
            t_user
        SET
            password = #{password},
            modified_user = #{modifiedUser},
            modified_time = #{modifiedTime}
        WHERE
            uid = #{uid}
    </update>

    <!-- 根据用户名查询用户数据：User findByUsername(String username) -->
    <select id="findByUsername" resultMap="UserEntityMap">
        SELECT
            uid,username,password,salt,avatar,is_delete
        FROM
            t_user
        WHERE
            username = #{username}
    </select>
    <!-- 根据用户id查询用户数据：User findByUid(Integer uid) -->
    <select id="findByUid" resultMap="UserEntityMap">
        SELECT
           uid,username,password,salt,avatar,is_delete
        FROM
            t_user
        WHERE
            uid = #{uid}
    </select>
</mapper>
